@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 0 20px;
}

header .logo img {
  width: 100px;
}

nav {
  padding: 5px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

ul li {
  list-style: none;
}

ul.snb {
  padding: 0 20px;
  flex-direction: column;
  gap: 4px;
  background: black;
  border: 1px solid #eee;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: none; /* 초기에는 숨김 */
}

nav > ul li {
  height: 100%;
  position: relative;
}

nav > ul > li:hover ul.snb {
  display: flex; /* hover 시에만 나타남 */
}

.menu {
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav > ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header {
  text-align: center;
}

.menu li a {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu li:nth-child(1):hover ~ .snb,
.menu li:nth-child(6):hover ~ .snb {
  display: flex;
  margin-right: auto; /* 1번과 6번 메뉴에 hover 시에만 .snb가 나타남 */
}

/* .menu li:nth-child(2) {
  margin-left: auto;
}

.menu li:nth-child(7) {
  margin-left: auto;
} */



/* 슬라이드 */

.slide {
  width: 100%;
  padding: 22px;
}

.wide-slide {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 33.33%; 
  overflow: hidden;
}

.imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

.imgs li {
  flex: 1;
}

.imgs li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 



 /* 메뉴 */

 .photomenu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.fourmenu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.fourmenu li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fourmenu li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourmenu li img {
  max-width: 100%;
  height: auto;
  padding:10px;
}

.fourmenu li h1 {
  margin-top:20px

}



/* 제품슬라이드 */

.h2{
  text-align: center;
}


.swiper {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.swiper-slide {
  text-align:center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-text {
  display: block;
  width: 100%;
  overflow:hidden;
  text-decoration: none;
  margin-top: 100px;
  margin-left:-1px;
  color: black;
  /* outline:solid white;
  background-color:white; */
  text-align: center;
}

.swiper-slide img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal {
  /* position: center; */
  top: 50px;
  left: 200px;
  transform: translate(-50%, -50%);
  }


 

/* 인스타그램 */

.insta {
  display: flex;
  justify-content: center;
}

.instapic {
  position: relative;
  flex-basis: calc(33.33% - 10px);
  margin: 13px;
}

.instapic img {
  display: block;
  width: 250px;
  height: 250px;
  transition: filter 0.3s ease;
}

.instapic:hover img {
  filter: brightness(50%);
}

.instatext {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 1.2em;
  outline: solid black 1px;
  line-height: 30px;
}

.instatext span {
  color: black;
}



/* 푸터 */
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  display: flex;
  
}

footer p {
  color: white;
  margin: 10px;
  position: relative;
  margin-left: 150px;
}

.footer-head{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


