@charset "UTF-8";



* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-align: center;
     line-height: 40px;
   }

   /* 메뉴 */
   a,
  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: white;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0 20px;
  }

  header .logo img {
    width: 100px;
  }

  nav {
    padding: 5px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
  }

  ul li {
    list-style: none;
  }

  ul.snb {
    padding: 0 20px;
    flex-direction: column;
    gap: 4px;
    background: black;
    border: 1px solid #eee;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: none;
  }

  nav > ul li {
    height: 100%;
    position: relative;
  }

  nav > ul > li:hover ul.snb {
    display: flex;
  }

  .menu {
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  nav > ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .header {
    text-align: center;
  }

  .menu li a {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

 
 
 /* mini.html 호버 */

  .strength h3 {
    display: none;
  }
  
  
  .strength h2:hover + h3 {
    display: block;
  }
  
  .whole {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* skill */

  .skill{
    height: 50px;
    width: 50px;
    display: flex;
    position: relative;
  }


  .certificate{
    margin-left: 170px;
  }