@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
/* 헤더 */

  a,
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover,
  a:active {
    color: black;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 20px;
  }
  
  header .logo img {
    width: 100px;
  }
  
  nav {
    padding: 5px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  ul li {
    list-style: none;
  }
  
  ul.snb {
    padding: 0 20px;
    flex-direction: column;
    gap: 4px;
    background: white;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: none; /* 초기에는 숨김 */
    
  }
  
  nav > ul li {
    height: 100%;
    position: relative;
  }
  
  nav > ul > li:hover ul.snb {
    display: flex; /* hover 시에만 나타남 */
    font-size: 1em;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1.2em;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  nav > ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .header {
    text-align: center;
  }
  
  .menu li a {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .menu li:nth-child(1):hover ~ .snb,
  .menu li:nth-child(6):hover ~ .snb {
    display: flex;
    margin-right: auto; /* 1번과 6번 메뉴에 hover 시에만 .snb가 나타남 */
  }

  .logo {
    margin-right: auto;
  }

  .reserve {
    margin-left: auto;
  }

  .reserve:hover{
    border-bottom: 2px solid #666;
  }

  @media screen and (max-width:575.98px){

  }
  

  /* 슬라이드 */

  .slide {
    width: 100%;
    margin: auto;
  }
  
  .wide-slide {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 33.33%; 
    overflow: hidden;
  }
  
  .imgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .imgs li {
    flex: 1;
  }
  
  .imgs li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


 


  .text-overlay {
    position: absolute;
    top: 47%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

 
  @media screen and (max-width:575.98px){

  }
  

  /* 안내사항 */

  .open{
    text-align: right;
    margin-top: -41px;
    margin-right: 13px;
  }

  .official{
   background-color: white;
  }

  .speaker{
    margin-top: 5px;
  }

  @media screen and (max-width:575.98px){

  }
  

  /* 스와이퍼 */

  .medi-title {
    text-align: center;
    padding: 5px;
}

  .medi-title li {
    font-size: 35px;
    font-weight: bold /* 글씨 크기 조정 */
}

.swiper {
  /* height: 1000px; */
  width: 1500px;
}

.text-overlay2 {
  position: absolute;
  top: 68%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


/* 푸터 */


footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  padding: 30px;
  text-align: center;
  flex-direction: column;
}

footer p {
  color: white;
  margin: 10px;
  position: relative;
  margin-left: 150px;
}

.information {
  display: flex;
  align-items: center;
}


.information img {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
  }
  

.information p {
  margin: 0 20px; 
}



/* 스와이퍼2 */




.mySwiper2 {
  background-image: url(./prime/main6_link.png);
  background-size: cover;
  background-position: center;

}

.text-container p {
  margin-left: 400px;
  margin-top:-300px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.myswiper2-slide img {
  display: block;
  width: 100%;
  height:100%;
}

/* 유투브 */

.youtube{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-image: url(./prime/다운로드.jpeg);
  background-size: cover;
  background-position: center;
}

.youtube.item{
  width: 200px;
  height:100px;
  margin: 10px;
}

.item {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.item2 {
  color: gray;
  font-size: 14px;
  word-break:keep-all ;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.item3 {
  margin-top: 20px; 
  align-items: center;
}

/* 예약폼,공지사항 */

.form{
  display: flex;
  flex-direction: column;
}

.back-menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  line-height: 30px;
  background-image: url(./prime/noti-back.jpeg);
}

.notice{
  line-height: 50px;
}

input[type="text"] {
  width: 150px;
}


.hurt{
  font-size: x-large;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.noti-text{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.vertical-line {
  width: 1px;
  height: 15px;
  background-color: black;
}

.headline{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
 
.online{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}